.pink{
    color: rgb(226, 0, 75);
    text-align: center;
}
.inputbox{
    text-align: center;
}

#box{
      background:linear-gradient( rgb(193, 114, 185),rgb(163, 248, 246),rgb(223, 174, 225));
}
form input{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}

form input:hover{
    outline: none;
    border: none;
}
.btnbox{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.buttonf{
    color: white;
    color: black;
    border-radius: 3px;
    padding: 5px 40px;
    border: none;
    outline: none;
}