@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
