#loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    top: 10px;
    right: 45%;
    color: rgb(15, 28, 172);
    font-size: 19px;
    font-weight: 900;
}