.row{
    height: 100vh;
}

#container{
    background:linear-gradient( rgb(193, 114, 185),rgb(163, 248, 246),rgb(223, 174, 225));
    border: 1px solid darkorange;
}
#container h1{

    background:linear-gradient(to right,rgb(56, 56, 223),rgb(12, 83, 18),rgb(218, 7, 7));
    margin-bottom: 30px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    
}
p{
    font-size: 12px;
}
form label{
    display: block;
    margin-bottom: 2px;
    padding-top: 10px;
}

form input{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}

form input:hover{
    outline: none;
    border: none;
}
.btn-box button{
    /* padding: 10px 105px;  */
    margin: 15px 0px;
    border: none;
    background-color: rgb(43, 129, 250);
    color: rgb(255, 253, 253);

}
.forget{
    cursor: pointer;
}